:root {
  --dark: #0F1629;
  --white: #fff;
  --danger: #EF3C4E;
  --info: #4C86C6;
  --info-dark: #24344B;
  --warning: #FFD169;
  --success: #4DBD97;
  --success-light: #C1E4E6;
}

body {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  text-align: center;
  color: var(--white)
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/*=======================================
    Mobile First
=========================================*/
.blocks {
  padding: 10px;
}

.header-section {
  display: flex;
  flex-direction: column;
}

header, nav {
  flex: 1;
}

header {
  padding: 16px;
  background-color: var(--dark);
}

nav {
  padding: 16px;
  background-color: var(--danger);
}

main,
.hero,
.extra,
.image,
.banner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero {
  padding: 16px;
  background-color: var(--info);
  height: 170px;
}

main {
  padding: 16px;
  background-color: var(--info-dark);
  min-height: 170px;
}

.extra {
  padding: 16px;
  background-color: var(--success);
  height: 135px;
}

.image {
  padding: 16px;
  background-color: var(--success-light);
  height: 135px;
}

.banner {
  padding: 16px;
  background-color: var(--warning);
  height: 130px;
}


/*=======================================
    TABLET & DESKTOP BREAKPOINTS
=========================================*/
@media all and (min-width: 479px) and (max-width: 1280px) {
  
}

@media all and (min-width: 479px) {
  .blocks {
    padding: 20px;
  }

  .header-section {
    display: flex;
    flex-direction: row;
  }

  .hero {
    height: 400px;
  }

  .main-container {
    display: flex;
    flex-direction: row;
  }

  .main-container > * {
    flex: 1;
  }

  .extras {
    padding-left: 240px;
  }

  main {
    height: 270px;
  }

  nav {
    order: -1;
  }
}
