body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.container {
  width: 100%;
  height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 5%;
}

.row {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.box {
  width: 10%;
  background-color: yellowgreen;
  border: 5px solid #000;
}

.med-box { width: 20%; }

.long-box {  width: 60%; }